<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isEditing" (click)="toggleEdit()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-header">
    <ion-icon name="person-circle-outline" class="profile-photo"></ion-icon>
    <h2 class="profile-name">
      {{ profileForm.get('name')?.value }} {{ profileForm.get('lastname')?.value }}
    </h2>
  </div>

  <ion-card class="profile-card">
    <form [formGroup]="profileForm" class="profile-form">
      <ion-item lines="full">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label position="stacked">Nombres</ion-label>
        <ion-input formControlName="name" [readonly]="!isEditing"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-icon slot="start" name="people-outline"></ion-icon>
        <ion-label position="stacked">Apellidos</ion-label>
        <ion-input formControlName="lastname" [readonly]="!isEditing"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-label position="stacked">Correo electrónico</ion-label>
        <ion-input formControlName="email" [readonly]="!isEditing"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-icon slot="start" name="call-outline"></ion-icon>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input formControlName="phone" [readonly]="!isEditing"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input formControlName="address" [readonly]="!isEditing"></ion-input>
      </ion-item>

      

      <ion-item lines="full">
        <ion-icon slot="start" name="person-circle"></ion-icon>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input formControlName="username" [readonly]="!isEditing"></ion-input>
      </ion-item>

     
    </form>
  </ion-card>

  
</ion-content>
