ion-menu {
  --ion-background-color: #ffffff;
  --ion-text-color: #333333;

  ion-toolbar {
    --background: #d40000; // Rojo de Ibarra
    --color: white;
  }

  ion-item {
    --padding-start: 16px;
    --min-height: 56px;
    
    ion-icon {
      margin-right: 12px;
    }
  }
}